.hero {
  margin-top: 0;
  padding: 95px 0 100px 0;
  background-image: url("../../assets/hero-images/hero-bg.png");
  background-position: top-center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.hero .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.hero h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.social-icons-container {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 17px;
  margin-top: 15px;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  transition: 1s;
}

.social-icon:hover {
  transform: translateY(-8px);
}

.hero p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  width: 96%;
}

.btn-hero {
  margin-top: 12px;
  letter-spacing: 0.8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 13px;
  gap: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  border: 2px solid #757c97;

  font-weight: 500;
}

.arrow {
  transition: 1s;
}
.arrow:hover {
  transform: translateX(8px);
}

.coder {
  animation: updown 3s linear infinite;
  aspect-ratio: auto;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* media queries */

@media (max-width: 1536px) {
  .container-box {
    max-width: 1280px;
  }
 
}

@media (max-width: 1404px) {
  .container-box {
    max-width: 1024px;
  }
   .coder{
    height:auto;
    width:600px;
    aspect-ratio: auto;
     
  }
}

@media (max-width: 1024px) {
  .container-box {
    max-width: 768px;
  }
   .coder{
    height:auto;
    width:500px;
    aspect-ratio: auto;
  }
}

@media (max-width: 768px) {
  .container-box {
    max-width: 640px;
  }
   .coder{display:none;}
}

@media (max-width: 640px) {
  .container-box {
    max-width: 475px;
  }
  .hero h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
 
}

@media (max-width: 475px) {
  .container-box {
    width: 100%;
  }
}
