.hero {
margin-top: 100px;
padding: 260px 0 100px 0;
background-image: url("https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=1380&t=st=1713267461~exp=1713268061~hmac=c0a3b82f6be1016474470cf59cdae63c0a961812c699f059348f615df8fefcf9");
background-position: top center;
background-size: cover;
background-repeat: no-repeat;

}

.hero .tagline{
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(217deg, rgba(241,225,184,0.5467436974789917) 5%, rgba(167,146,119,1) 86%, rgba(255,242,225,1) 100%);
    border:1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display:inline-block;
}

.hero h1{
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8;
    line-height: 1;
    margin-bottom: 20px;
    display:block;
}
