.hero {
   margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("../../assets/hero-images/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Set background size to cover the width completely */
  
  height: 100%;
}
