.skills-box {
  margin-top: 0;
  padding: 65px 0 70px 0;
  background-image: url("../../assets/hero-images/hero-bg.png");
  background-position: top-center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.icon-skill {
  width: 80px;
  aspect-ratio: auto;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}


.skills {
  margin-top: 20px;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.skills-icons-box {
  padding: 20px;
}
