.MyStory {
  margin-top: 0;
  padding: 70px 0 80px 0px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/499/original/Dark_Simple_Minimalist_Modern_Photo_Collage_Fashion_Facebook_Cover_%282%29.png?1713347407");
  background-position: top-center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.MyStory p{
font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  width: 96%;
}

.col-component{padding:80px 70px 80px 100px;}