.contact {
  margin-top: 0;
  padding: 95px 0 100px 0;
  background-image: url("../../assets/hero-images/hero-bg.png");
  background-position: top-center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-contact{
    padding: 18px 40px 20px;
    margin: 10px;
    border-radius: 20px;
    outline:none;
    background-color: transparent;
    font-size: 18px;
}

