nav {
  width: 100%;
  background: rgb(168, 173, 194);
  color: #ffff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 18px 20px;
}

nav ul li {
  display: inline-block;
  margin: 5px 20px;
  font-size: 17px;
}

.nav-h1 {
  font-size: 25px;
  font-family: var(--Great-Vibes-font);
}

.menu-icon {
  display: none;
}

.btn-hero {
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 10px 20px;
  border: none;
  border-radius: 100px;

  background-color: black;
  color: #d5d7e1;
  transition: 0.9s;
}

.btn-hero:hover {
  filter: drop-shadow(0 0 0.9rem rgb(100, 108, 121));
}

@media (max-width: 700px) {
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(117, 124, 151);
    z-index: -1;
    width: 200px;

    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .hide-mobile-menu {
    right: -200px;
  }
}
